<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
>

    <testsuites>
        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    

</phpunit>